<!DOCTYPE html>
<html>
<head>
	<title>New Form</title>
</head>
<body>

	<p>This is a form.</p>

	<p>Enter your name:</p>

<form action="/users" method="Post">
  <label>First name:</label>
  <input type="text" name="firstname" value=""><br>
  <label>Last name:</label>
  <input type="text" name="lastname" value=""><br><br>
  <input type="submit" value="Save this">
</form>

</body>
</html>
