<!DOCTYPE html>
<!-- <html lang="en"> -->
<head>

  <!-- Basic Page Needs -->
  <meta name="description" content="This a responsive web application">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="/css/index.css">
    <title>Cyril's Portfolio</title>
    <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/Skeleton-2.0.4/images/favicon.png">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
