<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
</head>
	<body>

		<nav>
			<a href="/posts">Posts</a>
			<a href="/posts/new">New Post</a>
		</nav>

		<h1>User Index</h1>

		<ul>
		<% @users.each_with_index do |user,index| %>
		  <li>
				<!-- for example linked to post but   -->
		  <a href ="/users/<%= post.id %>"><%=  user.first_name %><%=  user.last_name %> </a>
		  </li>
		  <% end %>
		</ul>
	</body>
</html>
