<form class="<%= pictures_comments_path picture  %>" action="" method="POST">
  <label for="">Write a comment</label>
  <textarea name="body" rows="8" cols="80"></textarea>
  <input type="submit" name="" value="Post Comment">
</form>
