<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Form Page</title>
  </head>
  <body>
    <form action="/users" method="POST">
      <input type="submit" name="prettyform" value="Save Your Post">
    </form>

  </body>
</html>
