<h1>Pictures list</h1>
<div id = "pictures">
  <div class="picture">

    <% @pictures.each_with_index do |picture,index| %>
      <img src="picture.img"/>

		 <p><%=  picture.caption %> </a></p>

		  <% end %>

  </div>
</div>
